<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1> Welcome @Model.EmpName</h1>
        <p >
            <b>Number of Greetings: </b>@Model.GreetCount
        </p>
    </body>
</html>