<html>
<head>
        <title>DemoApp</title>
    </head>
    <body style="font-family: Arial; background-color: #f4f4f4;">
        <h1>Registation of a Department </h1>

        <form method="post">
            <p style="text-align: left;">
                <b>Your  DepartmentId: </b>
                <input type="text" name=" DeptId"/>
            </p>
           

            <p style="text-align: left;">
                <b>Your Department Name: </b>
                <input type="text" name="DeptName"/>
            </p>
             <p style="text-align: left;">
                <b>Location of New Department </b>
                <input type="text" name="Location"/>
            </p>
            
            <p>
            <button onclick="window.location.href='/Department'">Submit</button>
            </p>

        </form>
        
    </body>
</html>