@model IEnumerable<Company.Models.Staff>
<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Employees Details</h1>
        <table border="1">
            <tr style="background-color: #007bff; color: white;">
                <th>Employee Id</th>
                 <th>Employee Name</th>
                <th>Salary of Employee</th>
                <th>DepartmentNo</th>
                
            </tr>
            @foreach(var visitor in Model)
            {
                <tr style="background-color: #f2f2f2;"> 
                    <td>@visitor.EmpId</td>
                    <td>@visitor.Name</td>
                    <td>@visitor.Salary</td>
                    <td>@visitor.DeptNo</td>
                </tr>
            }
        </table>
     <p>
        <button style="background-color: rgb(164, 111, 107) 123, 255, 0.912); border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer;">
        <a href="/Home/Register" 
        style="color: rgb(16, 1, 1); text-decoration: none; font-weight: bold;">
        Register a New Employee
        </a>
        </button>
     </p>
      <p>
        <button style="background-color: rgb(164, 111, 107) 123, 255, 0.912); border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer;">
        <a href="/Department/Departments" 
        style="color: rgb(16, 1, 1); text-decoration: none; font-weight: bold;">
          List of Department
        </a>
        </button>
     </p>

    </body>
</html>